meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
style 
  include ../static/comp.css
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css", integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==", crossorigin="anonymous", referrerpolicy="no-referrer")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css", integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==", crossorigin="anonymous", referrerpolicy="no-referrer")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css", integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==", crossorigin="anonymous", referrerpolicy="no-referrer")
link(href="https://unpkg.com/aos@2.3.1/dist/aos.css", rel="stylesheet")
link(rel="icon", href="/static/logo1.png")
title Competitions
script(src="https://kit.fontawesome.com/a076d05399.js")
script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
//  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
#content
  .nav
    nav.navbar
      .content
        .name
          a(href="http://ipu.ac.in/usct/index.php", target="_blank")
            img(src="/static/GGSIPUlogo.png", width="70px", height="60px")
          |    

          a(href="/CC")
            img(src="/static/logo1.png", width="50px", height="60px")
        ul.menu-list
          .icon.cancel-btn
            i.fas.fa-times
          li
            a(href="./CC") Home
          li
            a(href="./About") About Us
          li
            a(href="./Sche") Event Schedule
          li
            a(href="./event") Events
          li
            a(href="./Comp") Competitions
          li
            a(href="./sponsors") Sponsors
          li
            a(href="./contact") Register Now
        .icon.menu-btn
          i.fas.fa-bars
  .icon-bar
    a.facebook(href="https://www.facebook.com/profile.php?id=100086972134357", target="blank")
      i.fa-brands.fa-facebook-f
    a.instagram(href="https://www.instagram.com/chemchord_usct/", target="blank")
      i.fa-brands.fa-instagram
    a.linkedin(href="https://www.linkedin.com/in/chemchord-usct-862926254", target="blank")
      i.fa-brands.fa-linkedin-in
  //
     <div class="sec1">
        <img src="./dialectic.png">
        <div class="text">
            <h1>Dialectic</h1>
            <p>The Arena for this debate is: Imminences in Chemical Industries
                There is going to be team participation consisting of 3 members each. Description of the format of the teams:
                All the teams participating should comprise 3 members- A president, a vice president, and a rapporteur. President and the vice president are going to be the spokespersons for their team’s stance. 
                A rapporteur is a person who drafts all the information and collects and presents pieces of evidence on the topics.
                 A total of 20 teams will get to participate and there are going to be 4 houses of debatehaving 5 teams each where they would be competing for their stance for two hours. Each house will have its case study at hand which will be provided to them 2 weeks prior alongside the rules of procedure. The winning team of each house will competein the final round. Here they will provided with a hypothetical case based on the arena and they will have to put forward their views on it. The final house will only last for an hour.</p>
        </div>
    </div> 
  //
     <div class="box1">
        <div class="imgbx">
            <img src="./dialectic.png">
        </div>
        <div class="cont">
            <h2>Dialectic</h2>
            <p>The Arena for this debate is: Imminences in Chemical Industries
                There is going to be team participation consisting of 3 members each. Description of the format of the teams:
                All the teams participating should comprise 3 members- A president, a vice president, and a rapporteur. President and the vice president are going to be the spokespersons for their team’s stance. 
                A rapporteur is a person who drafts all the information and collects and presents pieces of evidence on the topics.
                 A total of 20 teams will get to participate and there are going to be 4 houses of debatehaving 5 teams each where they would be competing for their stance for two hours. Each house will have its case study at hand which will be provided to them 2 weeks prior alongside the rules of procedure. The winning team of each house will competein the final round. Here they will provided with a hypothetical case based on the arena and they will have to put forward their views on it. The final house will only last for an hour.</p>
        </div>
    </div> 
  .HEAD
    h1 COMPETITIONS
  .chcp
    img(src="/static/Agar attack.PNG")
    //  <video src="./prvcc.mp4" alt="" controls></video> 
    .txt
      h1 AGAR ATTACK
      h3 "INOCULATE YOUR ART"
      p
        | If you are good at art, have exceptional plating skills, and have a fair amount of knowledge of cell culture and cell properties, here is an event for you! LB agar or Lysogeny broth is often used as a culture medium for bacteria. This event will aim to test participants' flair at streaking agar plates provided, with the given bacterial strain, and produce art pieces in a given time limit.
        br
        | The event is designed to test the plating skills of competitors by creating a piece of art on the agar plates, forming unique patterns and unleashing the artist within. Participants will be given a bacterial strain and a time limit.
        br
        | The incumbent approach of this event is to maximize the streaking capability symmetrically. In addition, the event addresses cell culturing as a necessary operation to understand the properties of cells.
        br
        | So, replace your paints with microbes and the canvas with agar gel, and let the creativity rise.
        br
        br
        b The rules of the event are as follows:-
        br
        | 1. Prepared Agar plate (one plate per participant) and culture will be provided.
        br
        | 2. The participants will choose the theme on which their art will be based.
        br
        | 3. A total of 4 minutes will be given to each participant to complete the art.
        br
        | 4. The participants may use paint brushes under specified conditions. No other equipment may be used other than what will be provided. Electronic items, such as mobile phones, iPad, laptops, etc., are prohibited. All equipment must be appropriately handled.
        br
        | 5. In case of any dispute, the decision of the organizing head will be final.
        br
        br
        b The winner of the competition will be decided on the following criteria-
        | ● Creativity and originality in technique
        br
        | ● Overall artistry of the piece
        br
        | ● Scientific accuracy in streaking technique
        br
        | ● Appropriateness and accessibility of the description of art for the general audience.
        br
        br
        b Marking criteria (20 marks)
        | ● For completing in time: 5
        br
        | ● Own creativity: 5
        br
        | ● Clarity of the design: 5
        br
        | ● Streaking protocol maintained during the competition: 5
        br
        br
        b Kindly note:
        br
        | ● Cultures will be grown in suitable conditions for one night.
        br
        | ● Plates may be replaced if participants find them punctured or mass accumulated.
        br
        | ● The winners will be announced on the concluding day of the CHEMCHORD 2023.
        br
        br
        | So be a part of this thrilling tech-art event and help yourself find your inner artist, whether a master in doodling, painting, streaking, or sketching.
        br
        br
        b Contact Details:-
        br
        | Karan Singh:- 9315407116
        br
        | Hariom Hari:- 7982515816
        br
        | For any other queries or information, mail to:- 
        b chemchord@ipu.ac.in
      //  <a href="#" class="but">Register Now</a><input type="register" value="register" class="but"> 
      a.but(href="./contact")
        button(type="button") Register Now
  .chcp2
    //  <video src="./prvcc.mp4" alt="" controls></video> 
    .txt2
      h1 BLOOD AND GUTS
      h3 "BITING BAD (BI- BISMUTH, BA-BARIUM)"
      p
        | What if Snakes and ladder, a fun board game that gives us that childhood nostalgia, could turn it into a fun and competitive quiz show event?
        br
        | We are organizing this snake and ladder fun event to make students aware of the sense of unity, integrity and partnership and putting a pinch of chemical ecstasy in it.
        br
        | Boosting the engineer within you with all the fun of CHEMCHORD, this quiz will remind you that you are born to be a champion and don't run from any hurdles that come your way.
        br
        b The material provided:
        br
        | snake-&-ladder mat, dice, scoreboard, ball, and sticks.
        br
        br
        b Rules and regulations:
        br
        | This is a team event. Each team will have a maximum of 2 members.
        br
        br
        b Round 1:
        br
        | 1. The organizers will have ten play cards containing introductory chemistry and biochemistry questions.
        br
        | 2. Each team has to select an element from the given list and will then get 1 minute to answer these ten questions based on the selected element.
        br
        | 3. No answers will be considered after the timer has stopped.
        br
        | 4. The team answering all the correct answers in the least time will qualify for the second round. Only the top 7 teams will be qualified for the next round.
        br
        | 5. No negative marking.
        br
        br
        b Round 2 (Ball and Stick Round):
        br
        | 1. Each team will be given five questions which they have to solve in 3 minutes.
        br
        | 2. In those 3 minutes, teams have to answer the question by making the 3D model of the compound by using the given props, which are the ball and stick.
        br
        | 3. Four teams will qualify for the next round.
        br
        | 4. Points may be deducted based on the model presentation.
        br
        br
        b Round 3 (Snakes and Ladder Round):
        br
        | 1. 6 will be the opening number for the snake and ladder game.
        br
        | 2. Each team has one player as the "dice thrower" and the other as the "counter" who will play the game.
        br
        | 3. Each team puts their counter on the space that says 'Start Here'.
        br
        | 4. Teams will take turns rolling the dice. The team at the top score in the leaderboard will be given the advantage of rolling the dice first. The team must move their counter forward according to the number of spaces shown on the dice.
        br
        | 5. If the counter lands at the bottom of the ladder, the counter must move up to the top.
        br
        | 6. If your counter lands on a snake's head - here's the twist - the team will be asked a riddle. If answered (a) correctly: the counter will be relaxed from the snake and be on the same position (b) partially correct: the counter will be half relaxed and end up somewhere in the middle (c) incorrect: the counter must slide down to the bottom of the snake.
        br
        | 7. The first team to get to the space that says 'FINISH' is the winner. The team at the highest position will be securing the first position and successively, the other teams.
        br
        b Contact Details:-
        | Mitali Sharma:- 7042697128
        br
        | Harshita Mishra:- 8595870705
        br
        | Saksham Kalra:- 8052920094
        br
        | For any other queries or information, mail to:- 
        b chemchord@ipu.ac.in
      a.but1(href="./contact")
        button(type="button") Register Now
      //  <a href="#" class="but">Register Now</a><input type="register" value="register" class="but"> 
    img(src="/static/Blood and guts.JPG")
  .chcp
    img(src="/static/ART-O-PHILLIA-VID.png")
    //  <video src="./prvcc.mp4" alt="" controls></video> 
    .txt
      h1 ART-O-PHILLIA
      h3 “THINK-BEYOND-IMAGINATION"
      p
        | As the name suggests, this competition is going to test your creativity and artistic skills. Herein, the participants who would be performing solo will design a logo on our event theme “Green chemistry” or make a poster promoting “Sustainable chemistry.” One can participate in both of the events too. The winning logo will be the logo of the theme this year. This will not only boost the confidence of the contestants but also motivate them to put their best foot forward because there is a chance that their art piece could be the face of such an extravagant event. For team participation, the teams would be required to make videos. Students from the chemical branch will have to showcase their experimental skills by performing some experiments they have learned using daily objects and record themselves while doing so.
        br
        | Students from any other field than chemical technology will make a video advertising a product/ service. Entries of shortlisted teams would be presented in front of judges for the final decision.
        br
        br
        b FORMAT:
        br
        | Art-O-Phillia is divided into two sections, Individual participation, and Team participation.
        br
        b Individual Participation:
        | This again is divided into further sections.
        br
        b 1. Poster making/ Digital art –
        |  Participants are supposed to make a POSTER on Sustainable development. The top 10 posters will be shown to judges and thenjudges will decide upon the winner.
        br
        b 2. Logo making –
        |  Participants are supposed to design a LOGO on Green Chemistry. And the logo which is finalized by the judges will be the logo for the theme of Chemchord'23.
        br
        br
        b Group Participation:
        br
        | For students from Chemical Technology:
        br
        | Participants will perform various fun experiments using daily life material, and make an interactive video of them performing which could showcase their talent in a uniquely interesting way. They can choose any domain in which they feel comfortable. Videos should be vibrant, and clear and the message should be on point. For students from any other field.
        br
        | Participants are supposed to make a video advertising a product. Teams will have to make a not more than 5-minute ad video on the product they have chosen. The video should have a tagline describing the product and the video should be convincing. Entries of shortlisted teams would be presented in front of judges for the final decision.
        br
        b Rules for the event:
        br
        | 1. Poster making/digital art and logo making is a solo competition so only solo entries are allowed. For group participation, the teams should consist of 2 members.
        br
        | 2. The final posters must be sent in before the deadline in pdf format on the given link. No late entries would be entertained.
        br
        | 3. Use of any software like Canva, Photoshop, Illustrator, etc is allowed.
        br
        | 4. The idea and design of the poster or the video should be unique. Any plagiarism observed will lead to disqualification. In any dispute, the organizers will have the final say.
        br
        br
        b Contact Details:
        br
        | Eva Mishra:- 9310555293
        br
        | Mihir Raj:- 7042101733
        br
        | For any other queries or information, mail to:- 
        b chemchord2022@gmail.com
      a.but(href="./contact")
        button(type="button") Register Now
      //  <a href="#" class="but">Register Now</a><input type="register" value="register" class="but"> 
  .chcp2
    //  <video src="./prvcc.mp4" alt="" controls></video> 
    .txt2
      h1 DIALECTIC
      h3 "सावधानी हटी, दुर्घटना घटी"
      p
        | To all the strong-headed opinionators, now is the time to show what you have and how strongly you stand in what you believe in. This presidential debate aims to instill high-end debating skills in the students, help them understand how to take a particular stand, stick to it, and lead the world to agree with it. It not only does imbibe a leadership quality but also teaches how to stand by what one believes even if everybody around claims that it is wrong. This type of debate is not governed by any set of rules so the house will agree to whatever will have the maximum number of votes which means which means it comes upon how convincingly you put forward your stance. This is the place to prove yourself and showcase your word and mind games if you dare to play.
        br
        br
        | The Arena for this debate is: 
        b Imminences in Chemical Industries
        br
        br
        | There is going to be team participation consisting of 3 members each.
        br
        b Description of the format of the teams:
        br
        | All the teams participating should comprise 3 members- A president, a vice president, and a rapporteur.
        br
        | President and the vice president are going to be the spokespersons for their team’s stance.
        br
        | A rapporteur is a person who drafts all the information and collects and presents pieces of evidence on the topics.
        br
        | A total of 20 teams will get to participate and there are going to be 4 houses of debate having 5 teams each where they would be competing for their stance for two hours. Each house will have its case study at hand which will be provided to them 2 weeks prior alongside the rules of procedure. The winning team of each house will competein the final round. Here they will provided with a hypothetical case based on the arena and they will have to put forward their views on it. The final house will only last for an hour.
        br
        br
        b Procedure for the presidential debate:-
        br
        b 1. Roll Call: 
        | First, all the teams will be called out according to their team names.
        br
        b 2. Opening statement:
        |  It is the statement given by the President of the team informing about their take on the team. This should clearly explain what the team thinks about the problem at hand and the team’s further arguments should firmly stand on the same take. Any deviation from this stance would invite negative marking.
        br
        b Note: 
        | The time constraint for the opening statement is 2mins and a bell will be set 30secs before the time gets over.
        br
        | After all the statements the house moves into a rebuttal.
        br
        b Rebuttal: 
        | It is basically to raise a point of information or indirectly ask questions to the other teams. It is the presentation of evidence and reasoning meant to weaken or undermine an opponent’s claim. It is also called a counterargument. It is going to be a public rebuttal in which the other teams can counter-question the team that would be currently presenting their views on a specific topic by raising a placard but they can’t roam around.
        br
        b Note: 
        | The time constraint for the rebuttal is 10 mins.
        br
        b 1. Secondary statements: 
        | It is the statement made by the Vice-President of the team. He/she talks about what stands further but this time it also involves POIs (Points of Information) or in other words questioning the team.
        br
        | So when a VP will be making the statement, the VPs of other teams have a right to raise a placard in between and ask for a POI if they wish to question something said so far. Now is it up to the speaking VP to either say not interested and move ahead with the speech or choose to answer the question raised. Whatever their decision will be would come into account of the judge. But mind it not answering the question will not have a negative marking.
        br
        b Note:
        |  Maximum of 3 POIs can be raised during one speech.
        br
        b 1. Unmoderated or Private Session:
        |  Now this session is for the teams with the same stance to discuss the strategies they have for the course ahead and make their press release. This can include lobbying, discussing loudly, and making a public statement by actions (not irrelevant of course). This could be your time but mind it, you will still be getting judged during this time so make your actions count.
        br
        b Press release:
        |  It is a written document made by every team and is submitted to the judge. It is done at the end of the debate when all the discussions by the teams are over. So, a press release talks about what stand or resolution you will take on the problems that have been witnessed throughout the house.
        br
        b Note:
        br
        | The time limit for the same is 10 mins.
        br
        b 1. Sub-agenda discussion:
        |  In this, a set of 4 topics will be provided to all the teams and a voting session will be conducted the most voted topic will be provided and the discussion will start. The discussion for any sub-agenda will happen by taking statements, one per team, given by the VP, and then the house will move into another rebuttal.
        br
        b Note: 
        | The time limit for the discussion is 20 mins.
        br
        | 1. Statements for sub agenda: All the team members will start making statements/arguments over the topic which has been chosen through the voting.
        br
        b Note:
        |  For a particular house there can be more than one press release. Also, two teams can club in to give a combined press release.
        br
        b 1. Voting:
        |  Voting is done only when more than one press release is submitted to the judge and the one with the maximum votes gets passed.
        br
        br
        | Once the judge has a passed press release in its hand, she announces the house is closed.
        br
        br
        | Rules:
        br
        | 1. This is strictly an English debate. So use of any other languages during the debate is strictly prohibited.
        br
        | 2. All the teams should consist of 3 members and have the proper designation as described above.
        br
        | 3. The teams should come up with a unique name that would be reflecting their team’s stance on the stance.
        br
        | 4. Teams should strictly adhere to the stance mentioned in their opening statements.
        br
        | 5. The procedure of the debate is subjective to the house and can have as many rounds of whichever sort they wish to have in the given time limits. There is going to be a voting procedure for every decision making.
        br
        | 6. Use of foul language, physical aggression, or any type of distress is strictly prohibited. Anything like this will invite series repercussions and even lead to the elimination of the team from the house.
        br
        | 7. Study the case given and read the rules of procedure provided to you properly before coming for the conference.
        br
        | 8. The judgment is not dependent upon the fact that whether your press release made it into the voting or not. It entirely depends on your performance.
        br
        br
        b Contact Details:-
        br
        | Prashita Chawla:- 9643629095
        br
        | Gurjot Kaur:-9560358805
        br
        | Pankaj Kumar:- 9540643642
        br
        | For any other queries or information, mail to:- 
        b chemchord@ipu.ac.in
      //  <a href="#" class="but">Register Now</a><input type="register" value="register" class="but"> 
      a.but1(href="./contact")
        button(type="button") Register Now
    img(src="/static/dialectic.png")
  .chcp
    img(src="/static/Eureka.PNG")
    .txt
      h1 EUREKA SAMMAGAMM
      h3 "Think anout your legacy, you’re writing it everyday"
      p
        | If you are an innovative-minded individual with many ideas to share, see your future as a researcher and want a platform to showcase your talents, here is an opportunity for you to do so. This event is a paper presentation on various chemical and biochemical topics where participants from different institutions will get a chance to share and discuss their thoughts about their scientific research.
        br
        br
        b Rules and regulations:
        br
        | 1.  The event is a team competition where each team must write a paper about a topic or area related to biochemical and chemical engineering and then present it in front of the jury.
        br
        b TEAM FORMATION:
        br
        | •  Each team can have a maximum of 3 participants
        br
        | •  No participants can be part of more than one team.
        br
        | •  The number of teams from the same college is 4-5.
        br
        | •  The topics on which the paper is based can be of the team's choice. However, it must be based on the chemical and biochemical field.
        br
        | 2.  The presentation should focus on one particular subject. The paper should be well comprehended, albeit advanced, which could appeal to an undergraduate. Kindly contact the coordinator for any clarifications.
        br
        | 3.  Abstract should be at most 250 words, and paper should be at most 4000 words.
        br
        | 4.  Bring your college I-Card & receipt on the event day.
        br
        | 5.  Kindly bring a PowerPoint presentation on your study on a pen-drive.
        br
        | 6.  Decisions of the judges and the event heads shall be treated as final and binding on all and cannot be contested.
        br
        | 7.  Directly copying from the Internet is strongly discouraged and will not be entertained.
        br
        | 8.  All the candidates will get participation certificates.
        br
        | 9.  Spot Entries are not accepted.
        br
        | 10.  Jury decision will be the final decision.
        br
        | 11.  Kindly Mail your abstract, PaperPaper, and ppt to chemchord2022@gmail.com. All queries will be addressed through the same email-id.
        br
        | 12.  The subject of the mail should have the domain and sub-category under which the paper is categorized.
        br
        | 13.  The mail with submissions should contain the following:
        br
        | •  Title- the theme of the paper.
        br
        | •  Names of the authors.
        br
        | •  Phone no of the authors.
        br
        | •  Email ID of authors.
        br
        br
        b Presentation Rules:
        br
        | 1.  Paper should be in IEEE Format.
        br
        | 2.  Paper must contain an index, list of figures, tables, abstract, introduction, point- wise description of the subject and conclusion, Result, and references.
        br
        | 3.  Paper must be preceded by a cover page specifying the paper's title, authors' names and college names, contact numbers, and email ids.
        br
        | 4.  The last day to submit a soft copy of your report (via email) will be two days before the day of the event.
        br
        | 5.  After you submit the soft copy, a panel of judges will review your material. You will be notified if you are shortlisted to give the presentation.
        br
        | 6.  The abstract mail should contain the abstract, references, your email id, and your mobile number.
        br
        | 7.  The paper submitted will have to be presented during the event.
        br
        | 8.  Hard copies of the same are to be submitted before presentation to Judges.
        br
        | 9.  The Teams will get 5 minutes to present their papers. And 2 minutes will be for questioning by judges.
        br
        | 10.  Violation of any rule can result in rejection of the paper.
        br
        br
        b Contact Details:
        br
        | Surabhi:- 9971330177
        br
        | Mayuri:- 9354230352
        br
        | For any other queries or information, mail to:- 
        b chemchord@ipu.ac.in
      a.but(href="./contact")
        button(type="button") Register Now
  .chcp2
    //  <video src="./prvcc.mp4" alt="" controls></video> 
    .txt2
      h1 LAZEEZ SHOT
      h3 Lights, Camera, FOOD!
      p
        | There are some stories that words aren't able to do justice to. For example, one can describe a sunset in a million words. Still, only the sight of the vermilion hues inspires one. The camera can capture the glimmer in the eyes, the wrinkles of a goofy smile, the coarseness of worn-out palms and the vibrance of food and spices. This event gives you the opportunity to show us the world of food through your camera's lens. Competitors must be able to best capture chemical processes and biochemical reactions in food.
        br
        b Registration Rules:
        br
        | 1.  It is an online event.
        br
        | 2.  It is a Solo Event.
        br
        | 3.  Multiple Entries from a College/University are allowed.
        br
        br
        b Judgement Criteria:
        br
        | 1.  Picture title and description
        br
        | 2.  Creativity
        br
        | 3.  Quality
        br
        | 4.  Originality & Relevance
        br
        br
        b Themes:
        |  Food Pictures/Boomerang/Timelapse/Short video.
        br
        br
        b Rules and Regulations:
        br
        | 1.  Pictures/Boomerang/Timelapse/Short video to be uploaded on provided Drive Link (Google Drive Link).
        br
        | 2.  Participants can upload only one picture/Boomerang/Timelapse/Short video.
        br
        | 3.  Directly copying from the Internet is strongly discouraged and will not be entertained.
        br
        | 4.  All submissions are to be done by the name Name_MobileNo_CollegeName.
        br
        | 5.  Submission Deadline- 31th December 2022
        br
        | 6.  It can be in Landscape/Portrait mode.
        br
        | 7.  Participants must capture the pictures/Boomerang/Timelapse/Short video through DSLR, Mirrorless, Point and Shoot, Smartphone, or Action cameras.
        br
        | 8.  The Pictures/Boomerang/Timelapse/Short video must be original, and the use of a watermark is strictly prohibited.
        br
        | 9.  You are required to provide a title and description of the Pictures/Boomerang/Timelapse/Short video submitted.
        br
        | 10.  The participant will be disqualified if any of the rules mentioned above are violated.
        br
        br
        b Contact Details:
        br
        | Surabhi:- 9971330177
        br
        | For any other queries or information, mail to:- 
        b chemchord@ipu.ac.in
      //  <a href="#" class="but">Register Now</a><input type="register" value="register" class="but"> 
      a.but1(href="./contact")
        button(type="button") Register Now
    img(src="/static/Lazeez Shot.PNG")
  .chcp
    img(src="/static/Pratibimb.PNG")
    //  <video src="./prvcc.mp4" alt="" controls></video> 
    .txt
      h1 PRATIBIMB
      h3 “Reflecting ideas of enthusiastic minds"
      p
        | A 2-round quiz with a twist.
        br
        | A laser light show!
        br
        | Yes! You read right.
        br
        | The first round will be the quiz. Answering right will give participants an advantage for a second round.
        br
        | The second round will be our spotlight, where the one who gets the light passed through to the glass in the shortest time will be the winner of this event.
        br
        | So, if you have a knack for mirror science love playing with LASERS, join us for this exciting event.
        br
        br
        b Rules and Regulations:
        br
        | 1.  This event is a team event. Each team may have at max 3 members.
        br
        | 2.  Bring your college ID and receipt on the event day.
        br
        | 3.  Decisions of the judges and event heads shall be treated as final.
        br
        | 4.  Spot Entries will not be accepted.
        br
        | 5.  No extra time for seeing setup. Time will start as soon as the team enter the room.
        br
        | 6.  Use all the equipment with proper care. Fine shall be charged if anything breaks.
        br
        | 7.  Use of mobile phones is prohibited during the event.
        br
        | 8.  Event head can add or modify any rule on the spot.
        br
        | 9.  Teammate will not change once the name is registered.
        br
        br
        b Round 1(Quiz):
        br
        | 1.  Questions will be asked on general knowledge and science.
        br
        | 2.  Each team will be given 20 questions, each with 30 seconds to answer each question.
        br
        | 3.  Per correct answer, the team will get 5 seconds extra for the next round.
        br
        | 4.  The top 5 teams will proceed to round 2.
        br
        b Round 2(Spotlight):
        br
        | 1.  The teams will be provided mirrors, laser light, a target and a totalled time from round 1.
        br
        | 2.  Team members will have to arrange the mirrors and position the laser light such that the laser beam reaches the target destination within the given time.
        br
        | 3.  The team that is able to direct the laser correctly in the least amount of time will be the winner of the competition.
        br
        br
        b Contact Details:
        br
        | Mayuri:- 9354230352
        br
        | Hariom Hari:- 7982515816
        br
        | For any other queries or information, mail to:- 
        b chemchord@ipu.ac.in
      a.but(href="./contact")
        button(type="button") Register Now
      //  <a href="#" class="but">Register Now</a><input type="register" value="register" class="but"> 
  footer
    .con
      .wrapper
        .footer-widget
          a(href="/CC")
            img.logof(src="/static/logo1.png", height="150px")
          //
             <ul class="socials">
                        <li>
                          <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                          <a href=""><i class="fa-brands fa-instagram"></i></a>
                          <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                      </ul>  
        .footer-widget
          h2 Quick Links
          ul.links
            li
              a(href="./CC", target="blank") Home
            li
              a(href="./About", target="blank") About Us
            li
              a(href="./Sche", target="blank") Event Schedule
            li
              a(href="./event", target="blank") Events
            li
              a(href="./sponsors", target="blank") Sponsors
            li
              a(href="./contact", target="blank") Register Now
        .footer-widget
          h2 Contact Us
          ul.links
            li
              a(href="./Team", target="blank") Website Team
            li
              a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSDZNzSMhgQxtTXgXSwhRwdwBCLdldnKFXhmPfCCmBqTxtxXvTWgqphrpcgwWbDlJWLkjHZC", target="blank") Email ID-1
            li
              a(href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHvnwfPvxxGWGHmPsgBhVfRDmZhMxCbzVBDtlDmBwTRfmMTnfpvbRJjWbRHNTKrMCGJlbCL", target="blank") Email ID-2
            li
              a( target="blank") 8527416412
            li
              a( target="blank") 9650072744
            li
              a( target="blank") 9643629095
        .footer-widget
          h2 Address
          ul.links
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") B-Block,
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") GGSIPU
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") Sector-16 C
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") Dwarka
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") New Delhi
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") 110078

      .copyright-wrapper
        p Copyright © Chemchord 2023, University School of Chemical Technology

  script 
    include ../static/cc.js
 
 
 
 
  script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js", integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==", crossorigin="anonymous", referrerpolicy="no-referrer")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js", integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==", crossorigin="anonymous", referrerpolicy="no-referrer")
  script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")