meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="/static/comp.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css", integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==", crossorigin="anonymous", referrerpolicy="no-referrer")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css", integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==", crossorigin="anonymous", referrerpolicy="no-referrer")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css", integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==", crossorigin="anonymous", referrerpolicy="no-referrer")
link(href="https://unpkg.com/aos@2.3.1/dist/aos.css", rel="stylesheet")
link(rel="icon", href="/static/logo1.png")
title Events
script(src="https://kit.fontawesome.com/a076d05399.js")
script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
//  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
#content
  .nav
    nav.navbar
      .content
        .name
          a(href="http://ipu.ac.in/usct/index.php", target="_blank")
            img(src="/static/GGSIPUlogo.png", width="70px", height="60px")
          |    

          a(href="/CC")
            img(src="/static/logo1.png", width="50px", height="60px")
        ul.menu-list
          .icon.cancel-btn
            i.fas.fa-times
          li
            a(href="./CC") Home
          li
            a(href="./About") About Us
          li
            a(href="./Sche") Event Schedule
          li
            a(href="./event") Events
          li
            a(href="./Comp") Competitions
          li
            a(href="./sponsors") Sponsors
          li
            a(href="./contact") Register Now
        .icon.menu-btn
          i.fas.fa-bars
  .icon-bar
    a.facebook(href="https://www.facebook.com/profile.php?id=100086972134357", target="blank")
      i.fa-brands.fa-facebook-f
    a.instagram(href="https://www.instagram.com/chemchord_usct/", target="blank")
      i.fa-brands.fa-instagram
    a.linkedin(href="https://www.linkedin.com/in/chemchord-usct-862926254", target="blank")
      i.fa-brands.fa-linkedin-in
  //
     <div class="sec1">
        <img src="./dialectic.png">
        <div class="text">
            <h1>Dialectic</h1>
            <p>The Arena for this debate is: Imminences in Chemical Industries
                There is going to be team participation consisting of 3 members each. Description of the format of the teams:
                All the teams participating should comprise 3 members- A president, a vice president, and a rapporteur. President and the vice president are going to be the spokespersons for their team’s stance. 
                A rapporteur is a person who drafts all the information and collects and presents pieces of evidence on the topics.
                 A total of 20 teams will get to participate and there are going to be 4 houses of debatehaving 5 teams each where they would be competing for their stance for two hours. Each house will have its case study at hand which will be provided to them 2 weeks prior alongside the rules of procedure. The winning team of each house will competein the final round. Here they will provided with a hypothetical case based on the arena and they will have to put forward their views on it. The final house will only last for an hour.</p>
        </div>
    </div> 
  //
     <div class="box1">
        <div class="imgbx">
            <img src="./dialectic.png">
        </div>
        <div class="cont">
            <h2>Dialectic</h2>
            <p>The Arena for this debate is: Imminences in Chemical Industries
                There is going to be team participation consisting of 3 members each. Description of the format of the teams:
                All the teams participating should comprise 3 members- A president, a vice president, and a rapporteur. President and the vice president are going to be the spokespersons for their team’s stance. 
                A rapporteur is a person who drafts all the information and collects and presents pieces of evidence on the topics.
                 A total of 20 teams will get to participate and there are going to be 4 houses of debatehaving 5 teams each where they would be competing for their stance for two hours. Each house will have its case study at hand which will be provided to them 2 weeks prior alongside the rules of procedure. The winning team of each house will competein the final round. Here they will provided with a hypothetical case based on the arena and they will have to put forward their views on it. The final house will only last for an hour.</p>
        </div>
    </div> 
  .HEAD
    h1 EVENTS
  //- .chcp
  //-   img(src="/static/dialectic.png")
  //-   //  <video src="./prvcc.mp4" alt="" controls></video> 
  //-   .txt
  //-     h1 RASAYANIC GYAN
  //-     h3 “Get all the solutions here"
  //-     p The first event of CHEMCHORD 2023 will begin with wise words by our guest speaker, who will impart his/her knowledge. It will follow an interactive session where the audience will have an opportunity to ask their doubts and queries about the talk. Finally, a vote of thanks by the team and the event coordinator, Mr. Dinesh Kumar, will conclude this event. Refreshments will be provided at the end of the Seminar; here, attendees may get a chance to interact one-on-one with the guest speaker.
  //-     //  <a href="#" class="but">Register Now</a><input type="register" value="register" class="but"> 
  //-     br
  //-     br
  //-     br
  //-     br
  //-     br
  //-     a.but(href="./contact")
  //-       button(type="button") Register Now
  .chcp2
    //  <video src="./prvcc.mp4" alt="" controls></video> 
    .txt2
      h1 CLUEMINATI
      h3 “यह खेल नहीं, जिंगोस्तान का, एक मज़ाक है, लड़ो, पकड़ो, खोजो, क्योंकि हंसना हार का पहला प्रमाण है"
      p
        | Hey, voyagers of treasure and mystery, we present you our treasure hunt CLUEMINATI!! This treasure hunt aims to get groups to try to complete challenges by working as a team and utilizing their razor-sharp mind, and problem-solving skills to come up with strategies to complete the challenges throughout. It encourages creativity and thinking ‘outside the box.’
        br
        | This consists of 4 rounds. In the first one, you can test your Sherlock brain to investigate some crime mysteries. In round 2 you become a riddle solver to move to the next round. The top teams will get the chance to play the game of the era ditching the conventional method of playing it and rather experiencing its life-size.
        br
        | You got to participate in teams of 3, with only one registration per team with a unique team name.
        br
        br
        b Round 1-THE SCENT OF MURDER
        br
        | This round will be an online round where each group will have to solve crime and murder mysteries. A google form will be circulated containing 4 mysteries that you will have to solve within a time limit of 10 minutes.
        br
        | After this round, the top 10 teams will move to round 2.
        br
        br
        b Round 2-A QUICK PEEK
        br
        | There is going to be a jar full of flashcards containing general questions, tricks, slang, idioms, and pictography and every team will be provided with a jar containing 50 cards each. Each card will have a question on it, participants have to write the answer on a sticky note attached to it. Participants will be given 5 minutes to solve them.
        br
        | The top 6 Teams solving the maximum number of correct cards will move forward.
        br
        | RULES:-
        br
        | 1. Every team will have to solve riddles, arithmetic, logical reasoning, anagrams, trivia, and analytical questions.
        br
        | 2. This round will test the team’s cumulative brainpower.
        br
        | 3. The team solving the maximum number of correct cards will move ahead.
        br
        | 4. Every member of a team can individually solve to maximize winning changes.
        br
        br
        b Round 3-THE THINK TANK
        br
        | Now here is where your critical thinking and decision-making come into testing. This round will have 2 levels. In level 1, teams will have to solve riddles to get into a room full of clues. There would be 3 volunteers outside every room, every team has to solve 2 riddles to enter the room.
        br
        | Here begins level 2, every room will have several clues leading to one another, and participants have to decode them. The codes would be numbered from 0 to 9. Now the decoded numbers will help you open one of the 3 boxes kept in front of the B-block.
        br
        | The top 3 teams to open the box will win and move to the last round.
        br
        | RULES:-
        br
        | 1. 3 floors will be used meaning 2 teams on each floor.
        br
        | 2. There will be 3 rooms, which will be guarded by 3 volunteers.
        br
        | 3. If any physical aggression is shown by any of the team members, it will automatically lead to the disqualification of the whole team.
        br
        | 4. The guard of each room will recite 5 riddles only 5 times.
        br
        | 5. No gadgets and tools will be allowed in the building.
        br
        | 6. The time limit of the whole round is 35 minutes.
        br
        br
        b Round 4-AMONG US
        br
        | Who's the Imposter?
        br
        | Looking sus, who can we trust?
        br
        | This is the ultimate game of survival and your team would now be your rival. Play your game and mark the survival.
        br
        | The premise of the game is simple – players are given the role of either a crewmate or an impostor just as in the game you all must have played. The crewmates must complete a list of tasks on the premises of the university (a blueprint would be provided) such as watering the plants, repairing the jammed door, and admin swipe.
        br
        | However, the game will have 3 imposters who will try to sabotage the premise and kill their 6 crewmates.
        br
        | As the game continues the impostor undermines and starts to kill members of the crew. The game is paused when a body is discovered or to call an emergency meeting is to discuss who the impostor might be and why. Players should be paying attention to the behaviour of others in the game to try and figure out who the impostor is. During the discussion, players will vote for who they think was acting suspiciously enough to be the impostor. If a player gets enough votes they will be ejected from the game, and their true identity will be revealed.
        br
        | To win the game the crewmates must complete all the tasks or discover the imposter.
        br
        | Only the crewmates who will be alive when all the imposters are detected will be the winner.
        br
        | The imposter will win if they avoid detection till the end and kill off the whole crew.
        br
        | RULES:-
        br
        b Imposters: -
        |  Total 3 imposters out of 9 participants. Imposters are supposed to sabotage the premise and kill the crewmates.
        br
        b Crewmates: -
        |  Total 6 crewmates. Crewmates will have to complete all the tasks given and if possible, catch the imposter.
        br
        b Emergency meeting: -
        |  Any participant can call a maximum of 2 emergency meetings at the wisdom tree.
        br
        b Discussion time: - 
        | 2 minutes will be given to discuss the suspicion about the imposter in the meeting before you get to vote.
        br
        b Voting time: - 
        | Voting time is 2 minutes. Discussion can continue during this time.
        br
        b Common tasks: -
        |  Each crewmate is assigned 2 common tasks. These tasks are the most basic in the game and take lesser time to complete.
        br
        b Short tasks: -
        |  Each crewmate is assigned 2 short tasks. These tasks are very short and can be completed quickly in a single location.
        br
        b Long tasks: -
        |  Each crewmate is assigned 1 long task. These tasks take the longest as the name implies and involve multiple locations to complete them.
        br
        br
        b Contact Details:-
        br
        | Prashita Chawla:- 9643629095
        br
        | Harsh Chaudhary:- 9654719732
        br
        | Tanya Aggarwal:- 9650976729
        br
        | Divyansh Nagar:- 9013533875
        br
        | For any other queries or information, mail to:- 
        b chemchord@ipu.ac.in
      a.but1(href="./contact")
        button(type="button") Register Now
      //  <a href="#" class="but">Register Now</a><input type="register" value="register" class="but"> 
    img(src="/static/Clueminati .PNG")
  .chcp
    img(src="/static/CHEMICSTAN MAIN POSTER .png")
    //  <video src="./prvcc.mp4" alt="" controls></video> 
    .txt
      h1 CHEMICSTAN
      h3 "Ek Shaam Bollywood ke Naam"
      p
        | All the Bollywood buffs out there, we present to you, “Ek Shaam Bollywood ke Naam".
        br
        | The cultural night of our fest presents CHEMICSTAN, an extravagant evening full of laughter, jokes, and a lot of sass. People are supposed to dress up as their favorite Bollywood characters, flaunt their style, and participate in the events like Bollywood quizzes and fashion shows. This evening would mark an end to the exciting 2 days of fun and learning events, hardships, battles, and most importantly winning. All the rivals forgetting about the competition have the chance to have fun together and shed the fatigue from all the participation. This would be the Grand Finale to our Grand Event.
        br
        | Join us for an evening full of events like:
        br
        | Shaam-e-hind cinema
        br
        | Daastaan-e-kirdaar
        br
        | Talent battle
        br
        | Performances (Dance,Play,Singing)
        br
        | Face painting
        br
        | And obviously,
        br
        | DJ night
        br
        | A heads up for all attending this event, you will have to dress up as any Bollywood character.
        br
        b Contact Details:-
        br
        | Prashita Chawla:- 9643629095
        br
        | Khushi:- 8527416412
        br
        | For any other queries or information, mail to:- 
        b chemchord@ipu.ac.in

      //  <a href="#" class="but">Register Now</a><input type="register" value="register" class="but"> 
      a.but(href="./contact")
        button(type="button") Register Now
  .chcp2
    .txt2
      h1 CHEMICSTAN (SHAAM-E-HIND CINEMA)
      h3 "इस देश में जब तक सिनेमा है, आदमी खेलता रहेगा!"
      p
        | We are organizing a Bollywood quiz where you will get a chance to show your love for cinema and prove that you are a Bollywood Buff. There will be 3 rounds to win that title which is not going to be easy to pull.
        br
        br
        b ROUND 1/ Q&A ROUND:-
        |  There will be 20 teams in this round, to whom we will provide a paper having 20 questions written on that. Each team will have to answer these questions within a time limit of 3 minutes. The teams with the maximum number of correct answers in the given time will be sent for the next round.
        br
        | RULES FOR ROUND 1-
        br
        | 1. Each team will be of 2 members.
        br
        | 2. No late entries would be entertained

        br
        | 3. No overwriting is allowed.
        br
        br
        b ROUND 2 OR RAPID WRITING ROUND:-
        |  The teams will be asked 15 questions altogether and they will write their answers on the sheet provided. The time limit for each question is 15 seconds. The judgment will be based on how quickly a team will be answering the questions correctly. Top teams who will give correct answers in less time will go for the next and the last round.
        br
        | RULES FOR ROUND 2-
        br
        | 1. No overwriting and cutting is allowed otherwise marks will be deducted.

        br
        br
        b ROUND 3. BUZZER ROUND:-
        | A total of 10 questions will be asked which you have to answer by ringing the buzzer whoever rings the buzzer first will answer the question. Each correct answer will be awarded 10 points and an incorrect will be - 5. The team with the highest score will win the first title and similarly for 2nd and third positions.
        br
        | RULES FOR ROUND 3- 1. There will be a negative marking of -5
        br
        | 2. No answers will be considered if not answered after ringing the buzzer first.
        br
        br
        b Contact Details:-
        br
        | Harshit Sharma:- 9873239848
        br
        | Harshita Mishra:- 8595870705
        br
        | Udit Rajpal:- 9717847588
        br
        | Adarsh Kumar:- 9555598950
        br
        | For any other queries or information, mail to:- 
        b chemchord@ipu.ac.in
      a.but1(href="./contact")
        button(type="button") Register Now
    img(src="/static/Bollywood quiz .png")
  .chcp
    img(src="/static/Dastaan-e-kirdaar fashion show.png")
    .txt
      h1 CHEMICSTAN (DAASTAAN-E-KIRDAAR)
      h3 "फैशन का है यह जलवा"
      p
        | Do you have those dresses you bought after your saw your favorite heroine wearing on the silver screen? So now is the time to take those out and flaunt them your way. There will be 30 participants competing with each other to get some exciting titles and respective 1st, 2nd, and 3rd positions. They will portray themselves like Bollywood characters by dressing like them and will do a ramp walk on the stage showcasing their best walk at the end of which they will have to deliver an iconic dialogue representing their character.
        br
        | Rules-
        br
        | 1. There will be no restrictions, you can dress up as any character of your choice
        br
        | 2. Judgment will be based on your dressing; ramp walk and dialogue delivery altogether.
        br
        br
        b Contact Details:-
        br
        | Harshit Sharma:- 9873239848
        br
        | Harshita Mishra:- 8595870705
        br
        | Udit Rajpal:- 9717847588
        br
        | Adarsh Kumar:- 9555598950
        br
        | For any other queries or information, mail to:- 
        b chemchord@ipu.ac.in
      a.but1(href="./contact")
        button(type="button") Register Now
  footer
    .con
      .wrapper
        .footer-widget
          a(href="/CC")
            img.logof(src="/static/logo1.png", height="150px")
          //
             <ul class="socials">
                        <li>
                          <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                          <a href=""><i class="fa-brands fa-instagram"></i></a>
                          <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                      </ul>  
        .footer-widget
          h2 Quick Links
          ul.links
            li
              a(href="./CC", target="blank") Home
            li
              a(href="./About", target="blank") About Us
            li
              a(href="./Sche", target="blank") Event Schedule
            li
              a(href="./Comp", target="blank") Competitions
            li
              a(href="./sponsors", target="blank") Sponsors
            li
              a(href="./contact", target="blank") Register Now
        .footer-widget
          h2 Contact Us
          ul.links
            li
              a(href="./Team", target="blank") Website Team
            li
              a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSDZNzSMhgQxtTXgXSwhRwdwBCLdldnKFXhmPfCCmBqTxtxXvTWgqphrpcgwWbDlJWLkjHZC", target="blank") Email ID-1
            li
              a(href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHvnwfPvxxGWGHmPsgBhVfRDmZhMxCbzVBDtlDmBwTRfmMTnfpvbRJjWbRHNTKrMCGJlbCL", target="blank") Email ID-2
            li
              a( target="blank") 8527416412
            li
              a( target="blank") 9650072744
            li
              a( target="blank") 9643629095
        .footer-widget
          h2 Address
          ul.links
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") B-Block,
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") GGSIPU
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") Sector-16 C
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") Dwarka
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") New Delhi
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") 110078
      .copyright-wrapper
        p Copyright © Chemchord 2023, University School of Chemical Technology
  script(src="/static/cc.js")
  script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js", integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==", crossorigin="anonymous", referrerpolicy="no-referrer")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js", integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==", crossorigin="anonymous", referrerpolicy="no-referrer")
  script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")