meta(charset="UTF-8")
link(rel="stylesheet", href="style.css")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title CC Intro
.intro
  h1.logo-header
    span.logo CHEM
    span.logo CHORD
//
  
   <header>
      <h1>website</h1>
  </header> 
  
p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime magni iusto molestiae a amet perferendis commodi suscipit deserunt. Quibusdam est quam possimus dolores cupiditate!
nav.navbar
  .content
    .name
      a(href="href") Dr. Rajesh Kumar
    ul.menu-list
      .icon.cancel-btn
        i.fas.fa-times
      li
        a(href="#") Home
      li
        a(href="#") About Me
      li
        a(href="#") Education and Certifications
      li
        a(href="#") Publications
      li
        a(href="#") Research Scholars
      li
        a(href="#") Awards
      li
        a(href="#") Contact
    .icon.menu-btn
      i.fas.fa-bars
script(src="anim.js")