meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
style 
  include ../static/team.css
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css", integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==", crossorigin="anonymous", referrerpolicy="no-referrer")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css", integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==", crossorigin="anonymous", referrerpolicy="no-referrer")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css", integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==", crossorigin="anonymous", referrerpolicy="no-referrer")
link(href="https://unpkg.com/aos@2.3.1/dist/aos.css", rel="stylesheet")
link(rel="icon", href="/static/logo1.png")
title Team
script(src="https://kit.fontawesome.com/a076d05399.js")
script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
//   <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
#content
  .nav
    nav.navbar
      .content
        .name
          a(href="http://ipu.ac.in/usct/index.php", target="_blank")
            img(src="/static/GGSIPUlogo.png", width="70px", height="60px")
          |    
          a(href="/CC")
            img(src="/static/logo1.png", width="50px", height="60px")
        ul.menu-list
          .icon.cancel-btn
            i.fas.fa-times
          li
            a(href="./CC") Home
          li
            a(href="./About") About Us
          li
            a(href="./Sche") Event Schedule
          li
            a(href="./event") Events
          li
            a(href="./Comp") Competitions
          li
            a(href="./sponsors") Sponsors
          li
            a(href="./contact") Register Now
        .icon.menu-btn
          i.fas.fa-bars
  .icon-bar
    a.facebook(href="https://www.facebook.com/profile.php?id=100086972134357", target="blank")
      i.fa-brands.fa-facebook-f
    a.instagram(href="https://www.instagram.com/chemchord_usct/", target="blank")
      i.fa-brands.fa-instagram
    a.linkedin(href="https://www.linkedin.com/in/chemchord-usct-862926254", target="blank")
      i.fa-brands.fa-linkedin-in
  .head
    h1 WEBSITE TEAM

  .contain 
    .main-box.inner.flex 
      .team-wrap 
        .team-member.text-center 
          .team-img
            img(src="/static/harshitbhaiya.jpeg" height="400" width="205")
            .overlay 
              .team-details.text-center 
                .social.mt-20 
                  a(href="https://www.linkedin.com/in/harshit-412-sharma")
                    i.class.fa-brands.fa-linkedin-in
                  //- a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSMTtXtQCLvzLsbmtcfZzsdbLTNMLPkJXhXTQCWdbhbKfPqmFgQDrgdqskXmQtwCcXdcXQrQ")
                  //-   i.class.fa-regular.fa-envelope
                  a(href="https://github.com/harshit412sharma")
                    i.class.fa-brands.fa-github
          .team-title 
            h3  HARSHIT SHARMA
            h5  ORGANISER, CHEMCHORD
      .team-wrap 
        .team-member.text-center 
          .team-img
            img(src="/static/Anjali.jpg" height="400" width="205")
            .overlay 
              .team-details.text-center 
                .social.mt-20 
                  a(href="https://www.linkedin.com/in/anjali-singh-115072230")
                    i.class.fa-brands.fa-linkedin-in
                  a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSMTtXtQCLvzLsbmtcfZzsdbLTNMLPkJXhXTQCWdbhbKfPqmFgQDrgdqskXmQtwCcXdcXQrQ")
                    i.class.fa-regular.fa-envelope
                  a(href="https://github.com/AnjaliSingh03")
                    i.class.fa-brands.fa-github
          .team-title 
            h3  ANJALI SINGH
            h5  UI/UX & LOGO DESIGNER
      .team-wrap 
        .team-member.text-center 
          .team-img
            img(src="/static/Deeba1.jpg" height="400" width="205")
            .overlay 
              .team-details.text-center 
               .social.mt-20 
                  a(href="https://www.linkedin.com/in/deeba-anwar-khan-7a5833215")
                    i.class.fa-brands.fa-linkedin-in
                  a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGLPqTkMvLcTWXtLvvCSNDTwlJbwqZkfbFrrQWHWTxqhVfznHSmzqnWwzLfxCvpWRKJsGbd")
                    i.class.fa-regular.fa-envelope
                  a(href="https://github.com/DEEBAANWAR03")
                    i.class.fa-brands.fa-github
          .team-title 
            h3  DEEBA ANWAR KHAN 
            h5  FRONTEND DEVELOPER
      .team-wrap 
        .team-member.text-center 
          .team-img
            img(src="/static/aisha.jpg" height="400" width="205")
            .overlay 
              .team-details.text-center 
                .social.mt-20 
                  a(href="https://www.linkedin.com/in/aisha-siddiqa-390166235")
                    i.class.fa-brands.fa-linkedin-in
                  a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSKkVTSdGvMfQVVnzmJKVdrHJrJLHPWjQmtFQCLvlpQjkkKQQGWFsLqVdZkPXdfrLVkrrVjz")
                    i.class.fa-regular.fa-envelope
                  a(href="https://github.com/AishaSiddiqa03")
                    i.class.fa-brands.fa-github
          .team-title 
            h3  AISHA SIDDIQA
            h5  BACKEND DEVELOPER

  //- .team  

  //-   .team-area
  //-     .single-team 
  //-       img(src="/static/Anjali.jpg" height="400" width="205")
  //-       h3 ANJALI SINGH
  //-       h5 UI/UX & LOGO DESIGNER
  //-         .team-text 
  //-           a(href="https://www.linkedin.com/in/anjali-singh-115072230")
  //-             i.class.fa-brands.fa-linkedin-in
  //-           a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSMTtXtQCLvzLsbmtcfZzsdbLTNMLPkJXhXTQCWdbhbKfPqmFgQDrgdqskXmQtwCcXdcXQrQ")
  //-             i.class.fa-regular.fa-envelope
  //-           a(href)
  //-             i.class.fa-brands.fa-github
  //-     .single-team 
  //-       img(src="/static/Deeba1.jpg" height="400" width="205")
  //-       h3 DEEBA ANWAR KHAN
  //-       h5 FRONTEND DEVELOPER
  //-         .team-text 
  //-         p 
  //-           a(href="https://www.linkedin.com/in/anjali-singh-115072230")
  //-             i.class.fa-brands.fa-linkedin-in
  //-           a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSMTtXtQCLvzLsbmtcfZzsdbLTNMLPkJXhXTQCWdbhbKfPqmFgQDrgdqskXmQtwCcXdcXQrQ")
  //-             i.class.fa-regular.fa-envelope
  //-           a(href)
  //-             i.class.fa-brands.fa-github
  //-     .single-team 
  //-       img(src="/static/Anjali.jpg" height="400" width="205")
  //-       h3 AISHA SIDDIQA
  //-       h5 BACKEND DEVELOPER
  //-         .team-text 
  //-         p 
  //-           a(href="https://www.linkedin.com/in/anjali-singh-115072230")
  //-             i.class.fa-brands.fa-linkedin-in
  //-           a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSMTtXtQCLvzLsbmtcfZzsdbLTNMLPkJXhXTQCWdbhbKfPqmFgQDrgdqskXmQtwCcXdcXQrQ")
  //-             i.class.fa-regular.fa-envelope
  //-           a(href)
  //-             i.class.fa-brands.fa-github

  //-   .comp-area
  //-     .single
  //-       img(src="/static/Anjali.jpg" height="400" width="205")
  //-       //  <img src="./w.jpg" alt="">
  //-       h3 ANJALI SINGH 
  //-       h5 UI/UX & LOGO DESIGNER 
  //-       .on-text
          
  //-         a(href="/Comp")
  //-           i.fa-solid.fa-link
  //-         a(href="https://www.linkedin.com/in/anjali-singh-115072230")
  //-           i.class.fa-brands.fa-linkedin-in
  //-         a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSMTtXtQCLvzLsbmtcfZzsdbLTNMLPkJXhXTQCWdbhbKfPqmFgQDrgdqskXmQtwCcXdcXQrQ")
  //-           i.class.fa-regular.fa-envelope
  //-         a(href)
  //-           i.class.fa-brands.fa-github
  //-       h3 ANJALI SINGH 
  //-       BR 
  //-         h5 UI/UX & LOGO DESIGNER 
  //-     .single
  //-       img(src="/static/Deeba1.jpg" height="400" width="205")
  //-       H3 DEEBA ANWAR KHAN 
  //-       H5 FRONTEND DEVELOPER
  //-       .on-text
          
  //-         a(href="/Comp")
  //-           i.fa-solid.fa-link
  //-         a(href="https://www.linkedin.com/in/deeba-anwar-khan-7a5833215")
  //-           i.class.fa-brands.fa-linkedin
  //-         a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGLPqTkMvLcTWXtLvvCSNDTwlJbwqZkfbFrrQWHWTxqhVfznHSmzqnWwzLfxCvpWRKJsGbd")
  //-           i.class.fa-solid.fa-envelope
  //-         a(href="https://github.com/DEEBAANWAR03")
  //-           i.class.fa-brands.fa-square-github
  //-     .single
  //-       img(src="/static/Anjali.jpg" height="400" width="205")
  //-       h3 AISHA SIDDIQA 
  //-       h5 BACKEND DEVELOPER
  //-       .on-text
         
  //-         a(href="/Comp")
  //-           i.fa-solid.fa-link
  //-         a(href="https://www.linkedin.com/in/aisha-siddiqa-390166235")
  //-           i.class.fa-brands.fa-linkedin
  //-         a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSKkVTSdGvMfQVVnzmJKVdrHJrJLHPWjQmtFQCLvlpQjkkKQQGWFsLqVdZkPXdfrLVkrrVjz")
  //-           i.class.fa-solid.fa-envelope
  //-         a(href="https://github.com/AishaSiddiqa03")
  //-           i.class.fa-brands.fa-square-github
      
    //- .team-content 
      //- .box
      //-   img(src="/static/Anjali.jpg" height="400" width="205")
      //-   h3 ANJALI SINGH
      //-   h5 UI/UX & LOGO DESIGNER
      //-   .icons 
      //-     a(href="https://www.linkedin.com/in/anjali-singh-115072230")
      //-       i.class.fa-brands.fa-linkedin
      //-     a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSMTtXtQCLvzLsbmtcfZzsdbLTNMLPkJXhXTQCWdbhbKfPqmFgQDrgdqskXmQtwCcXdcXQrQ")
      //-       i.class.fa-solid.fa-envelope
      //-     a(href)
      //-       i.class.fa-brands.fa-square-github
      //- .box
      //-   img(src="/static/Deeba1.jpg" height="400" width="205")
      //-   h3 DEEBA ANWAR KHAN
      //-   h5 FRONTEND DEVELOPER
      //-   .icons 
      //-     a(href="https://www.linkedin.com/in/deeba-anwar-khan-7a5833215")
      //-       i.class.fa-brands.fa-linkedin
      //-     a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGLPqTkMvLcTWXtLvvCSNDTwlJbwqZkfbFrrQWHWTxqhVfznHSmzqnWwzLfxCvpWRKJsGbd")
      //-       i.class.fa-solid.fa-envelope
      //-     a(href="https://github.com/DEEBAANWAR03")
      //-       i.class.fa-brands.fa-square-github
      //- .box
      //-   img(src="/static/Anjali.jpg" height="400" width="205")
      //-   h3 AISHA SIDDIQA
      //-   h5 BACKEND DEVELOPER
      //-   .icons 
      //-     a(href="https://www.linkedin.com/in/aisha-siddiqa-390166235")
      //-       i.class.fa-brands.fa-linkedin
      //-     a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSKkVTSdGvMfQVVnzmJKVdrHJrJLHPWjQmtFQCLvlpQjkkKQQGWFsLqVdZkPXdfrLVkrrVjz")
      //-       i.class.fa-solid.fa-envelope
      //-     a(href="https://github.com/AishaSiddiqa03")
      //-       i.class.fa-brands.fa-square-github

      

      
  footer
    .con
      .wrapper
        .footer-widget
          a(href="/CC")
            img.logof(src="/static/logo1.png", height="150px")
          //
            
                      <ul class="socials">
                                 <li>
                                   <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                   <a href=""><i class="fa-brands fa-instagram"></i></a>
                                   <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                                 </li>
                               </ul>  
                      
        .footer-widget
          h2 Quick Links
          ul.links
            li
              a(href="./CC", target="blank") Home
            li
              a(href="./About", target="blank") About Us
            li
              a(href="./event", target="blank") Events
            li
              a(href="./Comp", target="blank") Competitions
            li
              a(href="./sponsors", target="blank") Sponsors
            li
              a(href="./contact", target="blank") Register Now
        .footer-widget
          h2 Contact Us
          ul.links
            li
              a(href="./Team", target="blank") Website Team
            li
              a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSDZNzSMhgQxtTXgXSwhRwdwBCLdldnKFXhmPfCCmBqTxtxXvTWgqphrpcgwWbDlJWLkjHZC", target="blank") Email ID-1
            li
              a(href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHvnwfPvxxGWGHmPsgBhVfRDmZhMxCbzVBDtlDmBwTRfmMTnfpvbRJjWbRHNTKrMCGJlbCL", target="blank") Email ID-2
            li
              a( target="blank") 8527416412
            li
              a( target="blank") 9650072744
            li
              a( target="blank") 9643629095
        .footer-widget
          h2 Address
          ul.links
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") B-Block,
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") GGSIPU
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") Sector-16 C
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") Dwarka
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") New Delhi
            li
              a(href="https://goo.gl/maps/QP9qFwBgtjmcdgZr8", target="blank") 110078
      .copyright-wrapper
        p Copyright © Chemchord 2023, University School of Chemical Technology
  script(src="/static/cc.js")
  script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js", integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==", crossorigin="anonymous", referrerpolicy="no-referrer")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js", integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==", crossorigin="anonymous", referrerpolicy="no-referrer")
  script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")